/*
 * Copyright 2000-2025 JetBrains s.r.o. and contributors. Use of this source code is governed by the Apache 2.0 license.
 */

/* code sections inside the tables should not use line breaks */
table code {
    white-space: nowrap;
}