<component name="ArtifactManager">
  <artifact type="jar" name="web">
    <output-path>$PROJECT_DIR$/real-projects/PeopleInSpace/web/build/libs</output-path>
    <root id="archive" name="web.jar">
      <element id="module-output" name="PeopleInSpace.web.main" />
    </root>
  </artifact>
</component>