build-for:
{{#build-for.android}}
  - jvm:
      - android:
          namespace: com.example.myapplication
          target-sdk: {{ build-for.android.target-sdk }}
          min-sdk: {{ build-for.android.min-sdk }}
{{/build-for.android}}
{{#build-for.ios}}
  - ios:
      compiler-arguments:
        - "-linker-option -framework -linker-option Metal"
        - "-linker-option -framework -linker-option CoreText"
        - "-linker-option -framework -linker-option CoreGraphics"
        - "-linker-option -framework -linker-option CoreFoundation"
{{/build-for.ios}}

kotlin:
    compiler-settings:
        plugins:
            - org.jetbrains.compose.compiler:compiler:{{version}}

dependencies:
    - org.jetbrains.compose.runtime:runtime:${compose-version}
{{#components.ui}}
    - org.jetbrains.compose.ui:ui:${compose-version}
{{/components.ui}}
{{#components.foundation}}
    - org.jetbrains.compose.foundation:foundation:${compose-version}
{{/components.foundation}}
{{#components.material}}
    - org.jetbrains.compose.material:material:${compose-version}
{{/components.material}}


compose-entry-point: RootControllerKt::getRootController

scripts:
    - script: {{template-root}}/codegens/ios.kts # here the code which generates ios compose launcher app
      phase: before-build
      script-options:
        entry-point: $compose-entry-point
    - script: {{template-root}}/codegens/android.kts # here the code which generates android multiplatform compose launcher app
      phase: before-build
      script-options:
        entry-point: $compose-entry-point