# Ignore everything by default
*

# Exclude specific things we want to share with the team
!codeStyles
!copyright
!inspectionProfiles
!runConfigurations
!scopes
!amper-codeinsight.xml
!codeInsightSettings.xml
!icon.svg
!jsonSchemas.xml
!project-color
!vcs.xml
