# Default ignored files
/shelf/
/workspace.xml
/uiDesigner.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/

# Files with machine-specific information
/misc.xml

# Imported modules info
/.name
/modules/
/compiler.xml
/jarRepositories.xml
/artifacts/
